
body{
    background-color:aliceblue;
    /* margin padding */
}

.box{
   
    border-radius: 10px;
    width:  90%;
    margin-left: 70px;

}


.box_item{
    background-color:white; 
    height: 220px;
    border: 1px solid wheat;
    border-radius: 10px ;
    display: inline-block;
    padding: 100px ;
    margin: 20px;
    margin-left: 10px;
    width: 150px;
    
     

} 

.box_item1, .box_item2, .h4{
    text-align:start;
}

